<%- include('../_partials/_layout-start') %>

<form action="/checkout/payment" method="post">
  <div><input type="submit" value="Pay" class="btn btn-success"></div>
</form>

<%- include('../_partials/_layout-end') %>
